@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}
.ant-color-picker-color-block {
  width: 16px !important;
  height: 16px !important;
}
:where(
    .css-dev-only-do-not-override-apn68
  ).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #000;
  color: #fff;
  border-color: #fff !important;
}
:where(
    .css-dev-only-do-not-override-apn68
  ).ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  )::before {
  background: #fff !important;
}
:where(.css-dev-only-do-not-override-apn68).ant-radio-button-wrapper {
  background: #000;
  border-color: #777;
  color: #777;
}
.css-dev-only-do-not-override-apn68:hover {
  color: #fff !important;
  border-color: #fff !important;
}
/* From Uiverse.io by Nawsome */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.slider {
  overflow: hidden;
  background-color: white;
  margin: 0 15px;
  height: 80px;
  width: 20px;
  border-radius: 30px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 30px #fff,
    inset -5px -5px 10px rgba(0, 0, 255, 0.1),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #2697f3,
    inset 0px 0px 0px rgba(0, 0, 0, 0.1);
  animation: animate_2 2.5s ease-in-out infinite;
}
.slider:nth-of-type(1)::before {
  animation-delay: calc(-0.5s * 1);
}
.slider:nth-of-type(2)::before {
  animation-delay: calc(-0.5s * 2);
}
.slider:nth-of-type(3)::before {
  animation-delay: calc(-0.5s * 3);
}
.slider:nth-of-type(4)::before {
  animation-delay: calc(-0.5s * 4);
}
.slider:nth-of-type(5)::before {
  animation-delay: calc(-0.5s * 5);
}
.ant-modal-content{
  background-color: #2b2b2b !important;
}
.ant-modal-close-x{
  color: #fff;
}
.ant-modal-header{
 
  background-color: #2b2b2b !important;
}
.ant-modal-header .ant-modal-title{
  color: #fff;
  border-left: 5px solid rgb(22, 119, 255);
  border-radius: 0px;
  padding-inline-start: 5px;
}
.ant-modal-body input{
  background-color: #424242 !important;
  color: #777;
}
.ant-form-item-required{
  color: #777 !important;
  font-size: 12px !important;
}
.ant-modal-body input:is(:hover,:focus){
  border-color: #ddd;
  background-color: #424242;
  color: #fff;
}
.ant-modal-body input::placeholder{
  color: #777;
}
.ant-form-item-control-input-content{
 text-align: right;
}
.cancel{
  background-color: #424242;
  border-color: #424242 !important;
 color: #fff;
}
.cancel:hover{
  color: #000 !important;
  border-color: #424242 !important;
  background-color: #ffffff !important;
}
.ok{
  background-color: #424242;

}
.ok:hover{
  background-color: #196de4 !important;
  border-color: #196de4 !important;
}
.ant-modal-footer{
  margin: 0 !important;
}

.box-container {
  min-height: 250px;
  width: calc(96% / 3);
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 10px 20px #dbdbdb;

}

.palette {
  display: flex;
  height: 78%;
  width: 100%;
}

.color {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  transition: flex 0.1s linear;
}

.color span {
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s linear;
}



.color:hover {
  flex: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color:hover span {
  opacity: 1;
}

#stats {
  height: 22%;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  box-sizing: border-box;
  color: #666;
}

#stats svg {
  /* fill: #bebebe; */
  transform: scale(1.2);
}
@keyframes animate_2 {
  0% {
    transform: translateY(250px);
    filter: hue-rotate(0deg);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(250px);
    filter: hue-rotate(180deg);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
